# projects/config.env
AppProject/node_modules/
AppProject/package-lock.json

ApiService/node_modules/
ApiService/package-lock.json

DbService/node_modules/
DbService/package-lock.json
DbService/config.js

.DS_Store
