

.IconCamera{
    width: 35px;
    height: 35px;
    border-radius: 500px !important; 
    border-style: solid;
    border-width: 1px;
    border-color: #DFE4ED;
    text-align: center;
    /* margin-left: 73%;
    margin-top:75%; */
    margin-left: 73%;
    margin-top:-25%;
    margin-top:-20%;
}


.DivPicCenter{
    text-align: center;
}

.GridCenter{
    text-align: center;
    width: 100%;
}

.ui.circular.image{
    width: 150px;
    height: 150px;
}

