.InputHideBorder {
FONT-WEIGHT: normal;
FONT-SIZE: 11px;
COLOR: #666666;
FONT-FAMILY: "Verdana";
border-left-style:none;
border-bottom-style:none;
border-right-style:none;
border-top-style:none;
border:0px;
background:inherit;

} 
.ScrollUpButton__Container{
      background-color: #C1C1C1 !important;
      border-radius: 50%;
      border: 5px solid #C1C1C1;
      height: 50px;
      position: fixed;
      bottom: 20px;
      width: 50px;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transition-property: opacity, right;
      transition-property: opacity, right;
      cursor: pointer;
      opacity: 0;
      right: -75px;
    }

.ScrollUpButton__Toggled{
      opacity: 1;
      right: 20px;
    }
.ModalConfirm{
    position: absolute;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
}
@media (max-width: 480px){
    
.ModalConfirm{
    position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -20%) !important;
<<<<<<< HEAD
    }
}
=======
}
}
>>>>>>> 4744a47682520e976c20c86c43cd24b183fee7a1
