.headerTheme{
    width: 1470px; 
    height: 1150px; 
    left: -40px; 
    top: -300px;
    border-radius: 100px;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    position: absolute;   
    background: -webkit-gradient(linear, right top, left top, from(#00B1B6), to( #00CACF));
    background: -webkit-linear-gradient(right, #00B1B6 0%,  #00CACF 100%);
    background: -o-linear-gradient(right, #00B1B6 0%,  #00CACF 100%);
    background: linear-gradient(to left,  #00B1B6 0%,  #00CACF 100%); 
    -webkit-box-shadow: 0px 50px 100px 0 rgba(0, 192, 187, 0.29);
    box-shadow: 0px 50px 100px 0 rgba(0, 192, 187, 0.29);
}
.ContainHeaderTop {
    position: absolute;
    right: 450px;
    top: 190px;
    z-index: 5;
}
.ContainHeaderMid {
    position: absolute;
    right: 450px;
    top: 290px;
    z-index: 5;
}
.ButtonHeaderMid {
    position: absolute;
    right: 450px;
    top: 370px;
    z-index: 5;
}
@media (max-width: 480px){
.ContainHeaderTop {
    width: 100%;
    left: 0;
    top: 100px;
    padding: 0 24px;
    font-size: 1em;
    }
    .ContainHeaderMid {
    width: 100%;
    left: 0;
    top: 420px;
    padding: 0 24px;
    font-size: 1em;
}
}
/* background: -webkit-gradient(linear, right top, left top, from(#2F80ED), to(#33ADFF));
    background: -webkit-linear-gradient(right, #2F80ED 0%, #33ADFF 100%);
    background: -o-linear-gradient(right, #2F80ED 0%, #33ADFF 100%);
    background: linear-gradient(to left, #2F80ED 0%, #33ADFF 100%); 
    -webkit-box-shadow: 0px 50px 100px 0 rgba(47, 128, 237, 0.35);
    box-shadow: 0px 50px 100px 0 rgba(47, 128, 237, 0.35); */